*{
  padding: 0;
  margin: 0;
}

.EstReact {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  width: 500px;
  border: 1px solid rgb(149, 149, 149) ;
  margin: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ListPlanets{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  height: auto;
  width: 500px;
  border: 1px solid rgb(149, 149, 149) ;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}

.Img{
  width:400px;
}